@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'MyWebFont';
    src: local('MyWebFont') url('./assets/fonts/static/DMSans-Medium.ttf'), format('woff');
}

@font-face {
    font-family: 'MyWebFont2';
    src: local('MyWebFont2') url('./assets/fonts/static/DMSans-MediumItalic.ttf'), format('woff');
}

@font-face {
    font-family: 'MyWebFont3';
    src: local('MyWebFont3') url('./assets/fonts/static/DMSans-Regular.ttf'), format('woff');
}

/* body {
    font-family: 'MyWebFont', Fallback, sans-serif;
} */